<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<div class="container">
  <div class="search-bar">
    <i class="fas fa-search search-icon"></i>
    <input type="text" placeholder="Search Referred Candidates" [(ngModel)]="searchQuery" (keyup)="searchReferredCandidates()" />
</div>
  <h2>Referred Candidates</h2>

  <div *ngIf="candidates.length === 0 else referredList" class="no-candidates-message">
    <p>No referred candidates found.</p>
  </div>
  <ng-template #referredList>
  <table>
    <tr>
      <th>Referral ID:</th>
      <th>First Name:</th>
      <th>Last Name:</th>
      <th>Years of Experience:</th>
      <th *ngIf="userRole === 'HR'">Referred By:</th>
      <th>Status:</th>
      <th *ngIf="userRole === 'HR'">Resume:</th>
      <th *ngIf="userRole === 'EMPLOYEE'">Withdaw</th>
     
    </tr>
    <tr *ngFor="let candidate of candidates">
      <td>{{ candidate.referralId }}</td>
      <td>{{ candidate.firstName }}</td>
      <td>{{ candidate.lastName }}</td>
      <td>{{ candidate.yearsOfExp }}</td>
      <td *ngIf="userRole === 'HR'">{{ candidate.referredBy }}</td>
      <td>
        <ng-container *ngIf="userRole === 'HR'; else viewStatus">
          <select [(ngModel)]="candidate.status" (change)="updateStatus(candidate)">
            <option *ngFor="let status of statusOptions" [value]="status">
              {{ status }}
            </option>
          </select>
        </ng-container>
      
        <ng-template #viewStatus>
          {{ candidate.status }} 
        </ng-template>
      </td>

      <td *ngIf="userRole === 'EMPLOYEE'"><button (click)="withdrawReferral(candidate.referralId )"> withdraw</button></td>
      
      

      <td *ngIf="userRole === 'HR'">
        <ng-container >
          <a (click)="downloadResume(candidate.referralId)">
            <i class="fa fa-download" aria-hidden="true"></i> 
          </a>
        </ng-container>
      </td>
      
      
    </tr>
  </table>
</ng-template>
  
</div>
