<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<div class="container">

  <h2>Referred Candidates</h2>

  <div *ngIf="candidates.length === 0 else referredList" class="no-candidates-message">
    <p>No referred candidates found.</p>
  </div>
  <ng-template #referredList>
  <table>
    <tr>
      <th>Referral ID:</th>
      <th>First Name:</th>
      <th>Last Name:</th>
      <th>Years of Experience:</th>
      <th>Referred By:</th>
      <th>Status:</th>
      <th *ngIf="userRole === 'HR'">Resume:</th>
     
    </tr>
    <tr *ngFor="let candidate of candidates">
      <td>{{ candidate.referralId }}</td>
      <td>{{ candidate.fname }}</td>
      <td>{{ candidate.lname }}</td>
      <td>{{ candidate.yearsOfExp }}</td>
      <td>{{ candidate.referredBy }}</td>
      <td>{{ candidate.status }}</td>
      <td *ngIf="userRole === 'HR'">
        <ng-container >
          <a (click)="downloadResume(candidate.referralId)">
            <i class="fa fa-download" aria-hidden="true"></i> 
          </a>
        </ng-container>
      </td>
      
      
    </tr>
  </table>
</ng-template>
  
</div>
