<header>
  <h1>Job Referral Portal</h1>
  <div class="button-group">
    <button 
      class="view-button" 
      *ngIf="isLoggedIn() && userRole === 'HR'" 
      (click)="addUser()">
      Add User
    </button>
    
    <button 
      class="view-button" 
      (click)="getFirstButtonDetails().action()" 
      *ngIf="isLoggedIn()">
      {{ getFirstButtonDetails().text }}
    </button>

    <button 
      class="view-button" 
      (click)="getSecondButtonDetails().action()" 
      *ngIf="isLoggedIn()">
      {{ getSecondButtonDetails().text }}
    </button>

    <!-- Third Button -->
    <button 
      class="view-button" 
      (click)="getThirdButtonDetails().action()" 
      *ngIf="isLoggedIn()">
      {{ getThirdButtonDetails().text }}
    </button>

    <button 
      class="logout-button" 
      *ngIf="isLoggedIn()" 
      (click)="logout()">
      Logout
    </button>
  </div>
</header>
