<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<div class="dashboard-container">
  <h1>Careers</h1>
  
  <!-- Search Bar with Icon -->
  <div class="search-bar">
      <i class="fas fa-search search-icon"></i>
      <input type="text" placeholder="Search jobs by position name" [(ngModel)]="searchQuery" (keyup)="searchJobs()" />
  </div>

  <div *ngIf="jobs.length === 0; else jobsList" class="no-jobs-message">
      <p>No current openings</p>
  </div>
  <ng-template #jobsList>
      <div class="job-list">
          <div *ngFor="let job of jobs" class="job-card">
              <h2>{{ job.positionName }}</h2>
              <p><strong>JOB ID: </strong> {{ job.jobId }}</p>
              <p><strong>Description: </strong> {{ job.jobDescription }}</p>
              <p><strong>Department: </strong> {{ job.departmentName }}</p>
              <p><strong>Number of open positions: </strong> {{ job.numberOfOpenPositions }}</p>
              <button (click)="referCandidate(job.jobId)">Refer Candidate</button>
          </div>
      </div>
  </ng-template>
</div>
